.App {
  margin-top:5%;
  text-align: center;
}

.prose{
  font-style: italic;
  word-spacing: 3px;
  font-size: 20px;
}

.timeStamp{
  font-size: 11px;
  margin-left: 290px;
}

.remarks{
  font-size: 11px;
  margin-left: 290px;
}

.amenities{
  margin-top: 20px;
}