.App {
  margin:5% auto;

  max-width: 800px;
  text-align: center;
  padding: 30px;
}

.prose{
  font-size: 25px;
}

.timeStamp{
  font-size: 11px;
  /*margin-left: 290px;*/
}

.remarks{
  font-size: 11px;
  /* border: 1px solid red; */
  /*margin-left: 290px;*/
}

.amenities{
  margin-top: 20px;
  margin-bottom: 20px;
}

.timeline{
  /* border: 1px solid red; */
  /* width: 30% !important; */
}

.timeline-content {
  margin-top: -10px;
  margin-right: 20px;
}
